* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.websiteTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.itemRow {
  justify-content: space-evenly;
}

/* .headingStyle {
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
} */

.itemListContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProductList {
  background-color: aquamarine;
  padding: 10px;
  box-shadow: 1px 1px 10px 10px gray;
  border-radius: 10px;
}

.Card {
  margin: 25px;
  box-shadow: 0.1px 0.1px 5.5px 0.1px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 20px;
}

.card2 {
  margin: 25px;
  box-shadow: 0.1px 0.1px 5.5px 0.1px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 20px;
}

.cardTitle {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardBody {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3 rem;
  /* padding: 10px 20px; */
  /* max-width: 100%; /* From here to 41 no line kora hoyeche width porjonto gele jeno ... show kore tai
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.cardFooter {
  text-align: center;
  color: gray;
  font-size: small;
}

.dateStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;

  p {
    text-align: center;
    justify-content: center;
    margin: 0px;
  }
}

.productImageCart {
  height: auto;
  width: 100%;
  margin-top: 5%;
}

/* .sideBar {
  position: fixed;
  width: 15rem;
  height: 100%;
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;

  .btn {
    --bs-btn-color: white;
  }

  .styleCollapse {
    padding-left: 1rem;
  }
} */

a {
  text-decoration: none;
}
